<a href="https://colab.research.google.com/github/dahyun723/ESAA_1/blob/main/09_06_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#판다스
: 파이썬의 대표적인 핸들링 프레임워크
1. 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API
2. DataFrame과 리스트, 딕셔너리, 넘파이 nadarray 상호 변환
3. DataFrame의 칼럼 데이터 세트 생성과 수정
4. DataFrame 데이터 삭제
5. Index 객체
6. 데이터 셀렉션 및 필터링
7. 정렬 Aggregation 함수, groupBy 적용
8. 결손 데이터 처리하기
9. apply lambda 식으로 데이터 가공

In [3]:
import pandas as pd

In [4]:
!piip install kaggle

/bin/bash: line 1: piip: command not found

In [5]:
from google.colab import files
files.upload()

Saving titanic_train.csv to titanic_train.csv

{'titanic_train.csv': b'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\r\n1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S\r\n2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C\r\n3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S\r\n4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S\r\n5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S\r\n6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q\r\n7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S\r\n8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S\r\n9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S\r\n10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C\r\n11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S\r\n12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S\r\n13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S\r\n14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S\r\n15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S\r\n16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S\r\n17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q\r\n18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S\r\n19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S\r\n20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C\r\n21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S\r\n22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S\r\n23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q\r\n24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S\r\n25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S\r\n26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S\r\n27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C\r\n28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S\r\n29,1,3,"O\'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q\r\n30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S\r\n31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C\r\n32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C\r\n33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q\r\n34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S\r\n35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C\r\n36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S\r\n37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C\r\n38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S\r\n39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S\r\n40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C\r\n41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S\r\n42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S\r\n43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C\r\n44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C\r\n45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q\r\n46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S\r\n47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q\r\n48,1,3,"O\'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q\r\n49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C\r\n50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S\r\n51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S\r\n52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S\r\n53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C\r\n54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S\r\n55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C\r\n56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S\r\n57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S\r\n58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C\r\n59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S\r\n60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S\r\n61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C\r\n62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,\r\n63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S\r\n64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S\r\n65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C\r\n66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C\r\n67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S\r\n68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S\r\n69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S\r\n70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S\r\n71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S\r\n72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S\r\n73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S\r\n74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C\r\n75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S\r\n76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S\r\n77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S\r\n78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S\r\n79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S\r\n80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S\r\n81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S\r\n82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S\r\n83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q\r\n84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S\r\n85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S\r\n86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S\r\n87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S\r\n88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S\r\n89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S\r\n90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S\r\n91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S\r\n92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S\r\n93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S\r\n94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S\r\n95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S\r\n96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S\r\n97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C\r\n98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C\r\n99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S\r\n100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S\r\n101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S\r\n102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S\r\n103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S\r\n104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S\r\n105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S\r\n106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S\r\n107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S\r\n108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S\r\n109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S\r\n110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q\r\n111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S\r\n112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C\r\n113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S\r\n114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S\r\n115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C\r\n116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S\r\n117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q\r\n118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S\r\n119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C\r\n120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S\r\n121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S\r\n122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S\r\n123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C\r\n124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S\r\n125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S\r\n126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C\r\n127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q\r\n128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S\r\n129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C\r\n130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S\r\n131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C\r\n132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S\r\n133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S\r\n134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S\r\n135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S\r\n136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C\r\n137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S\r\n138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S\r\n139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S\r\n140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C\r\n141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C\r\n142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S\r\n143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S\r\n144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q\r\n145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S\r\n146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S\r\n147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S\r\n148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S\r\n149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S\r\n150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S\r\n151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S\r\n152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S\r\n153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S\r\n154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S\r\n155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S\r\n156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C\r\n157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q\r\n158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S\r\n159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S\r\n160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S\r\n161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S\r\n162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S\r\n163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S\r\n164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S\r\n165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S\r\n166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S\r\n167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S\r\n168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S\r\n169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S\r\n170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S\r\n171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S\r\n172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q\r\n173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S\r\n174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S\r\n175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C\r\n176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S\r\n177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S\r\n178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C\r\n179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S\r\n180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S\r\n181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S\r\n182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C\r\n183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S\r\n184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S\r\n185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S\r\n186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S\r\n187,1,3,"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q\r\n188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S\r\n189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q\r\n190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S\r\n191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S\r\n192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S\r\n193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S\r\n194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S\r\n195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C\r\n196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C\r\n197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q\r\n198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S\r\n199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q\r\n200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S\r\n201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S\r\n202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S\r\n203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S\r\n204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C\r\n205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S\r\n206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S\r\n207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S\r\n208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C\r\n209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q\r\n210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C\r\n211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S\r\n212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S\r\n213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S\r\n214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S\r\n215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q\r\n216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C\r\n217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S\r\n218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S\r\n219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C\r\n220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S\r\n221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S\r\n222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S\r\n223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S\r\n224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S\r\n225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S\r\n226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S\r\n227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S\r\n228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S\r\n229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S\r\n230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S\r\n231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S\r\n232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S\r\n233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S\r\n234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S\r\n235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S\r\n236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S\r\n237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S\r\n238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S\r\n239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S\r\n240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S\r\n241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C\r\n242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q\r\n243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S\r\n244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S\r\n245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C\r\n246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q\r\n247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S\r\n248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S\r\n249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S\r\n250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S\r\n251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S\r\n252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S\r\n253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S\r\n254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S\r\n255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S\r\n256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C\r\n257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C\r\n258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S\r\n259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C\r\n260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S\r\n261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q\r\n262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S\r\n263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S\r\n264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S\r\n265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q\r\n266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S\r\n267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S\r\n268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S\r\n269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S\r\n270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S\r\n271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S\r\n272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S\r\n273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S\r\n274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C\r\n275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q\r\n276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S\r\n277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S\r\n278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S\r\n279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q\r\n280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,C.A. 2673,20.25,,S\r\n281,0,3,"Duane, Mr. Frank",male,65,0,0,336439,7.75,,Q\r\n282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,347464,7.8542,,S\r\n283,0,3,"de Pelsmaeker

In [6]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
titanic_df = pd.read_csv('titanic_train.csv')  # 업로드한 파일 이름을 사용

Saving titanic_train.csv to titanic_train (1).csv

In [7]:
titanic_df = pd.read_csv('titanic_train.csv')

In [8]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
titanic_df = pd.read_csv('titanic_train.csv')
print('titanic 변수 type:',type(titanic_df))
titanic_df

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [11]:
print('DataFrame 크기:', titanic_df.shape)

DataFrame 크기: (891, 12)

In [12]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [13]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [14]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [15]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [16]:
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [17]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [18]:
print('titanic_df 데이터 건수:', titanic_df.shape[0])
print('기본 설정인 dropna=True로 value_counts()')

print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna=False))

titanic_df 데이터 건수: 891
기본 설정인 dropna=True로 value_counts()
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

In [19]:
import numpy as np

col_name1=['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)
print('array1 shape:', array1.shape )
df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

In [20]:
# 3개의 칼럼명이 필요함
col_name=['col1', 'col2', 'col3']

In [21]:
#2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환
list2 = [[1, 2, 3],
         [11, 12, 13]]

array2 = np.array(list2)
print('array2 shape:', array2.shape )
df_list2 = pd.DataFrame(list2, columns=col_name)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name)
print('2차원 ndarray로 만든 DataFrame:\n', df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [22]:
#key는 문자열 칼럼명으로 매핑, Value는 리스트 형(또는 ndarray) 칼럼 데이터로 매핑
dict = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

##DataFrame을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기

많은 머신러닝 패키지가 기본 데이터형으로 넘파이 ndarray를 사용한다
DateFrame을 이용하더라도 머신러닝 패키지의 입력 인자 등에 적용하기 위해서 다시 넘파이 ndarray로 변환하는 경우가 빈번

In [23]:
#DataFrame을 ndarray로 변환
#values를 이용한다(DataFrame의 객체)

#방금전에 생성한 DateFrame의 객체 df_dict을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values 타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [24]:
#DataFrame -> 리스트와 딕셔너리로 변환
#DataFrame을 리스트로 변환
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입:', type(list3))
print(list3)

df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

In [25]:
#DateFrame을 딕셔너리로 변환
dict3 = df_dict.to_dict('list')
print('df_dict.to_dict() 타입:', type(dict3))
print(dict3)

df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

In [26]:
titanic_df['Age_0']=0
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [37]:
titanic_df['Age_by_10'] = titanic_df['Age']*10
titanic_df['family_No'] = titanic_df['SibSp']+ titanic_df['Parch']+1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

In [29]:
titanic_df['Age_by_10']= titanic_df['Age_by_10']+100
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

##DataFrame 삭제
drop()메서드를 이용
DataFrame.drop(lavels=None, axis=0, index=None, colums=None, level=None, inplace= False, errors='raise')

1. axis 파라미터

axis 0 은 로우방향 축, axis 1은 칼럼 방향 축

axis=0, labes에 인덱스 입력: 해당 인덱스의 로우 드롭

axis=1, labels에 원하는 칼럼명 입력: 지정된 칼럼 드롭

In [30]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10,family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,360.0,1

In [31]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

2. inplace 파라미터
디폴트값: False
inplace = False : 반환 자기 자신의 DataFrame 데이터 삭제 X, 삭제된 결과값
inplace = True : 자기 자신의 DataFrame 데이터 삭제 O, 반환값: None
* 유의: inplace = True인 상태로 반환 값을 다시 자신의 DataFrame 객체로 할당하면 안 됨

In [40]:
titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis=1, errors='ignore', inplace=True)
print('inplace=True로 drop 후의 데이터프레임:', titanic_df.head(3))

inplace=True로 drop 후의 데이터프레임:    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked  family_No
0      0         A/5 21171   7.2500   NaN        S          2
1      0          PC 17599  71.2833   C85        C          2
2      0  STON/O2. 3101282   7.9250   NaN        S          1

In [44]:
# 데이터프레임의 열 이름 확인
print("현재 데이터프레임의 열 이름들:")
print(titanic_df.columns)

# 삭제할 열 이름 목록
columns_to_drop = ['Age_0', 'Age_by_10', 'Family_No']

# 데이터프레임에 존재하는 열만 필터링
existing_columns_to_drop = [col for col in columns_to_drop if col in titanic_df.columns]

# 열 삭제 (존재하지 않는 열은 무시됨)
titanic_df.drop(columns=existing_columns_to_drop, axis=1, errors='ignore', inplace=True)

# 열 삭제 후 데이터프레임의 상위 3개 행 출력
print("\n열 삭제 후의 데이터프레임 상위 3개 행:")
print(titanic_df.head(3))

현재 데이터프레임의 열 이름들:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'family_No'],
      dtype='object')

열 삭제 후의 데이터프레임 상위 3개 행:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked  family_No
0      0         A/5 21171   7.2500   NaN        S          2
1      0          PC 17599  71.2833   C85        C          2
2      0  STON/O2. 3101282   7.9250   NaN        S          1

In [46]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0,1,2],axis=0, inplace=True)

print('#### after axis 0 drop ####')
print(titanic_df.head(3))

#앞의 인덱스가 3,4,5 이다
#인덱스 0,1,2 에 있던 로우가 삭제되었다

#### before axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked  family_No
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S          2
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C          2
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S          1
#### after axis 0 drop ####
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked  family_No
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S          2
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S          1
5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q          1

##Index 객체
판다스의 Index 객체는 DataFrame, Series의 레코드를 고유하게 식별하는 객체이다.
- DataFrame.index
- Series.index

Index 객체의 실제값은 넘파이 1차원 ndarray(value 속성으로 ndarray 값 알 수 있다.)
단일 값 반환 및 슬라이싱 또한 가능함
한 번 만들어진 DataFrame 및 Series의 Index 객체는 함부로 변경이 불가능하다는 특징이 있다

In [54]:



# Index 객체 추출
indexes = titanic_df.index
print(indexes)
# Index 객체를 실제 값 array로 변환
print('Index 객체 array 값:\n', indexes.values)

RangeIndex(start=3, stop=891, step=1)
Index 객체 array 값:
 [  3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218
 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236
 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254
 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272
 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290
 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308
 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326
 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344
 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362
 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380
 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398
 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416
 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434
 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452
 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470
 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488
 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506
 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524
 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542
 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560
 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578
 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596
 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614
 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632
 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650
 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668
 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686
 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704
 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722
 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740
 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758
 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776
 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794
 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812
 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830
 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848
 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866
 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884
 885 886 887 888 889 890]

In [55]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

<class 'numpy.ndarray'>
(888,)
[3 4 5 6 7]
[3 4 5 6 7]
9

In [56]:
indexes[0] = 5

TypeError: Index does not support mutable operations

Index는 식별용으로 사용된다.
Series  객체는  index 객체를 포함하지만 series 객체에 연산함수를 적용할 때는 연산에서 제외

In [57]:
series_fair = titanic_df['Fare']
print('Fair Series max 값:', series_fair.max())
print('Fair Series sum 값:', series_fair.sum())
print('sum() Fair Series:', sum(series_fair))
print('Fair Series + 3:\n', (series_fair +3).head(3))

Fair Series max 값: 512.3292
Fair Series sum 값: 28607.491
sum() Fair Series: 28607.49099999997
Fair Series + 3:
 3    56.1000
4    11.0500
5    11.4583
Name: Fare, dtype: float64

##reset_index()
새로운 인덱스를 연속 숫자 형으로 할당하며 기존 인덱스 'index'라는 새로운 칼럼명으로
추가
(주로 인덱스가 연속된 int 숫자형 데이터가 아닌 경우 사용)
* 유의: Series에 reset_index()를 적용하면 Series가 아닌 DataFrame이 반환된다.
reset_index()의 parameter 중 drop=True로 설정하면
기존 인덱스는 새로운 칼럼으로 추가되지 않고 삭제(drop)된다

In [58]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked  family_No
0      3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S          2
1      4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S          1
2      5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q          1

In [59]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value_counts 객체 변수 타입:', type(value_counts))
new_value_counts = value_counts.reset_index(inplace=False)
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:', type(new_value_counts))

### before reset_index ###
Pclass
3    489
1    215
2    184
Name: count, dtype: int64
value_counts 객체 변수 타입: <class 'pandas.core.series.Series'>
### After reset_index ###
   Pclass  count
0       3    489
1       1    215
2       2    184
new_value_counts 객체 변수 타입: <class 'pandas.core.frame.DataFrame'>

##데이터 셀렉션 및 필터링
DataFramedml [ ] 연산자
DataFrame 뒤에 있는 [ ]는 칼럼명, 인덱스로 변환 가능한 표현식, 불린인덱싱만 들어갈 수 있다
현재 수준에선 칼럼지정 연산자 정도로 이해하는 것이 좋다

리스트에서 그냥 숫자 넣어 쓰는 거랑 다르다

In [60]:
print('단일 칼럼 데이터 추출"\n', titanic_df['Pclass'].head(3))
print('\n여러 칼럼의 데이터 추출:\n', titanic_df[['Survived', 'Pclass']].head(3))
print('[ ] 안에 숫자 index는 KeyError 오류 발생:\n', titanic_df[0])

단일 칼럼 데이터 추출"
 3    1
4    3
5    3
Name: Pclass, dtype: int64

여러 칼럼의 데이터 추출:
    Survived  Pclass
3         1       1
4         0       3
5         0       3

KeyError: 0

In [61]:
#판다스 인덱스 형태로 변환 가능
#표현식 입력가능
#슬라이싱 연산 비추천

titanic_df[0:2]

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket   Fare Cabin Embarked  family_No
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.10  C123        S          2
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.05   NaN        S          1

In [62]:
#불린 인덱싱도 표현 O


titanic_df[titanic_df['Pclass']==3].head(3)

   PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked  family_No
4            5         0       3  Allen, Mr. ...  male  35.0      0      0  373450   8.0500   NaN        S          1
5            6         0       3  Moran, Mr. ...  male   NaN      0      0  330877   8.4583   NaN        Q          1
7            8         0       3  Palsson, Ma...  male   2.0      3      1  349909  21.0750   NaN        S          5

##DataFrame iloc[] 연산자

iloc[]는 위치(location) 기반 인덱싱 - 행, 열, 위치를 0을 출발점으로 하는 세로축, 가로축 좌표 정수값 지정
loc[ ]는 위치(location)기반 인덱싱 방식이다
- 행과 열의 좌표 위치에 해당하는 값으로 정숫값 또는 정수형의 슬라이싱, 팬시 리스트 값을 입력


## loc[] 연산자


loc[]는 명칭(label) 기반 인덱싱 - 데이터 프레임 인덱스 값으로 행 위치, 칼럼 명칭으로 열 위치 지정
loc[인덱스값,칼럼명]에서 데이터의 인덱스 값을 확인하지 않고 정수값을 입력할 경우 오류 발생

In [63]:
data = {'Name':['Chulmin', 'Eunkyung', 'Jiwoong', 'Soobeom'],
        'Year':[2011,2016,2015,2015],
        'Gender':['Male','Female', 'Male','Male']
        }
data_df = pd.DataFrame(data, index=['one','two','three','four'])
data_df

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three   Jiwoong  2015    Male
four    Soobeom  2015    Male

In [64]:
# 아래 코드는 오류를 발생시킴
data_df.iloc['Name']

TypeError: Cannot index by location index with a non-integer key

In [65]:
#아래 코드는 오류를 발생시킴
data_df.iloc['one',0]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [66]:
print("\n 맨 마지막 칼럼 데이터 [:,-1] \n", data_df.iloc[:,-1])
print("\n 맨 마지막 칼럼을 제외한 모든 데이터 [:,:-1] \n:", data_df.iloc[:,:-1])

 맨 마지막 칼럼 데이터 [:,-1]
 one        Male
two      Female
three      Male
four       Male
Name: Gender, dtype: object

 맨 마지막 칼럼을 제외한 모든 데이터 [:,:-1]
:            Name  Year
one     Chulmin  2011
two    Eunkyung  2016
three   Jiwoong  2015
four    Soobeom  2015

##DataFrame.loc[] 연산자
loc[인덱스값, 칼럼명]

으로 추출

loc[ ] 슬라이싱 기호(:) 적용할 때 종료 값 -1 까지가 아닌 종료 값까지 포함함을 주의
명칭 기반 인덱싱의 경우 명칭이 숫자형이 아닐 수 있기 때문에 -1 까지 포함할 수 없다

In [67]:
data_df.loc['one','Name']

'Chulmin'

In [68]:
# prompt: print('위치기반 iloc slicing\n', data_df.iloc[0:1,0],'\n')
# print('명칭기반 loc slicing\n', data_df.loc['one':'two','Name'])

print('위치기반 iloc slicing\n', data_df.iloc[0:1,0],'\n')
print('명칭기반 loc slicing\n', data_df.loc['one':'two','Name'])

위치기반 iloc slicing
 one    Chulmin
Name: Name, dtype: object

명칭기반 loc slicing
 one     Chulmin
two    Eunkyung
Name: Name, dtype: object

##불린 인덱싱
: 처음부터 가져올 값을 조건으로 [ ] 내에 입력하여 필터링하는 방식
[], loc[]에서 공통으로 지원 iloc[]는 정수형 값이 아닌 불린 값에 대해 지원하지 않음

In [71]:
titanic_boolean = titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean))
titanic_boolean

<class 'pandas.core.frame.DataFrame'>

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked  family_No
33            34         0       2  Wheadon, Mr...    male  66.0      0      0   C.A. 24579   10.5000          NaN        S          1
54            55         0       1  Ostby, Mr. ...    male  65.0      0      1       113509   61.9792          B30        C          2
96            97         0       1  Goldschmidt...    male  71.0      0      0     PC 17754   34.6542           A5        C          1
116          117         0       3  Connors, Mr...    male  70.5      0      0       370369    7.7500          NaN        Q          1
170          171         0       1  Van der hoe...    male  61.0      0      0       111240   33.5000          B19        S          1
252          253         0       1  Stead, Mr. ...    male  62.0      0      0       113514   26.5500          C87        S          1
275          276         1       1  Andrews, Mi...  female  63.0      1      0        13502   77.9583           D7        S          2
280          281         0       3  Duane, Mr. ...    male  65.0      0      0       336439    7.7500          NaN        Q          1
326          327         0       3  Nysveen, Mr...    male  61.0      0      0       345364    6.2375          NaN        S          1
438          439         0       1  Fortune, Mr...    male  64.0      1      4        19950  263.0000  C23 C25 C27        S          6
456          457         0       1  Millet, Mr....    male  65.0      0      0        13509   26.5500          E38        S          1
483          484         1       3  Turkula, Mr...  female  63.0      0      0         4134    9.5875          NaN        S          1
493          494         0       1  Artagaveyti...    male  71.0      0      0     PC 17609   49.5042          NaN        C          1
545          546         0       1  Nicholson, ...    male  64.0      0      0          693   26.0000          NaN        S          1
555          556         0       1  Wright, Mr....    male  62.0      0      0       113807   26.5500          NaN        S          1
570          571         1       2  Harris, Mr....    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S          1
625          626         0       1  Sutton, Mr....    male  61.0      0      0        36963   32.3208          D50        S          1
630          631         1       1  Barkworth, ...    male  80.0      0      0        27042   30.0000          A23        S          1
672          673         0       2  Mitchell, M...    male  70.0      0      0   C.A. 24580   10.5000          NaN        S          1
745          746         0       1  Crosby, Cap...    male  70.0      1      1    WE/P 5735   71.0000          B22        S          3
829          830         1       1  Stone, Mrs....  female  62.0      0      0       113572   80.0000          B28      NaN          1
851          852         0       3  Svensson, M...    male  74.0      0      0       347060    7.7750          NaN        S          1

In [72]:
titanic_df[titanic_df['Age']>60][['Name', 'Age']].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

In [73]:
titanic_df.loc[titanic_df['Age']>60,['Name','Age']].head(3)

              Name   Age
33  Wheadon, Mr...  66.0
54  Ostby, Mr. ...  65.0
96  Goldschmidt...  71.0

##복합조건

In [74]:
titanic_df[(titanic_df['Age']>60) & (titanic_df['Pclass']==1) & (titanic_df['Sex']=='female')]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked  family_No
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S          2
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN          1

In [75]:
cond1 = titanic_df['Age']>60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[cond1 & cond2 &cond3]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked  family_No
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S          2
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN          1

##정렬, Aggregation 함수, GroupBy 적용
DataFrame, Series의 정렬 - sort_values()
파라미터

by - 기준이 될 칼럼 입력
ascendong - 디폴트는 True(오름차순 정렬), False = 내림차순
inplace - 디폴트는 False(호출한 DataFrame은 그대로 유지 후 정렬된 DF 결과로 반환), True로 바꾸면 호출 정렬결과를 그대로 적용